#app {
  height: 100%;
}

.swiper {
  width: 100%;
  height: 550px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselContainer {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5); /*dim the background*/
}

.carouselTitle {
  width: 100%;
  height: 500px;
  position: absolute;
  background-color: #0071bc;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 113, 188, 0.7);
}
.carouselOverlay {
  position: relative;
}

#overlayText{
    opacity: none;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 200px;
    font-family: 'Mulish', sans-serif;  
    font-size: 30px;         
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 2px 2px #4b4b4b;
}
